div.container {

    nav.navbar {
        ul.navbar--ul {
            @include flex-center;
            list-style: none;

            gap: 2rem;

            li.navbar--li {
                a.navbar--a {
                    text-decoration: none;
                    color: var(--cor-preto);
                    font-size: var(--f3);
                }
            }
        }
    }


    div.container--topo--btn {
        @include flex-center;
        gap: 1rem;

        button.btn-login {
            background-color: var(--cor-preto);
            color: var(--cor-branca);
            padding: 0.5rem 2.54rem;
            border-radius: 0.4rem;
            font-size: var(--f2);
            cursor: pointer;
        }
    }
}